div.mainSideDivs {
    height: 20%;
    width: 100%;
}

#mainLeftArea {
    position: absolute;
    right: 15%;
    bottom: -10%;
    width: 30%;
    height: 70%;
}

.modalScreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalScreen:target {
	opacity:1;
	pointer-events: auto;
}

.modalScreen > div {
    height: 60%;
    width: 60%;
    margin: auto;
    padding: auto;
    opacity: 1;
    background-color: #ffffff;
}

.modalScreen h1 {
    color: #000000;
    font-family: Helvetica, Times New Roman, serif;
    font-size: 3em;
}

.modalScreen img {
    height: 10em;
    width: 15em;
    float: left;
}
div.homeOptionsLeft {
    position: relative:
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5em;
    text-align: center;
    border: solid 1px;
	border-color: black;
    border-radius:0.5em;
    cursor: pointer;
    background-color: rgba(80, 80, 80, .8);
    box-shadow: .5em .5em 1em rgba(0, 0, 0, 1)
}